@charset "UTF-8";

@media screen and (max-width:678px){
    .dg{
        display: grid;
        height: 640px;
        width: 410px;
    }
    .grafico1,.grafico2,.grafico3,.grafico4{
        max-width:190px;
        max-height: 290px;
    }
}
@media (min-width:679px) and (max-width:900px){
    .dg{
        display: grid;
        margin: auto;
        grid-template-columns: auto auto;
        height: 830px;
        width: 640px;
    }
}
@media (min-width:320px) and (max-width:1024){
    #behance{
        max-width:200px;
        max-height:300px ;
    }
    iframe{
        min-width: 150px;
        min-height: 200px;
    }

}