@charset "UTF-8";

@media screen and (max-width:768px){
    .dg{
        display: grid;
        height: 640px;
        width: 410px;
    }
    .grafico1,.grafico2,.grafico3,.grafico4{
        width:190px;
        height: 290px;
    }
    .behance{
        width: 100%;
        margin: auto;
    }
    .behance2,.behance3,.behance4,.behance5,.behance6,.behance7,.behance8{
        height: 350px;
        width: 400px;
    }
    .behance5{
        background-size: contain;
        height: 300px;
    }
    .behance7{
        background-size: contain;
        background-repeat: no-repeat;
        height: 225px;
    }
    .behance8{
        background-size: contain;
        background-repeat: no-repeat;
        height: 225px;
    }
    footer{
        font-size: 1em;
    }
}