@charset "UTF-8";

@media screen and (max-width:678px){
    .dg{
        display: block;
        height: 1700px;
    }
}
@media screen and (min-width:679px){
    .dg{
        display: grid;
        margin: auto;
        grid-template-columns: auto auto;
        height: 1000px;
    }
}