@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root{
    --color:black;
    --font-padrão: verdana, arial, sans-serif;
    --font-destaque:'Dancing Script','cursive';

    --cor1:#ED2EC3;
    --cor2:#D5C9DF;
}
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    text-align: center;
    margin: auto;
    background-image: linear-gradient(to top, var(--cor1),var(--cor2));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    font-family: var(--font-destaque);
    font-weight: bold;
    font-size: 2em;
    padding: 30px;
}
header>h1{
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    background-color: black;
    color: white;
    width: 340px;
    border-radius: 40px;
    margin: auto;
    padding-bottom: 7px;
}
main{
    
    padding-bottom: 40px;
}
.descricao{ /*texto*/
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 380px;
    font-family: var(--font-padrão);
    font-weight: bolder;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
}
.foto{/*foto principal*/
    background-color:transparent;
    background-image: url(../imagens/mãe\ png\ editada.png);
    background-size: cover;
    background-position: top center;
    background-attachment: local;
    background-repeat: no-repeat;
    max-width: 330px;
    height: 440px;
    margin: 20px auto;
    border-radius: 40px;
    transition: .4s;
    transform: scale(1.04);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.534);
}
.icon{/*icones*/
    width: 335px;
    display: flex;
    margin: auto;
    transition: .4s;
}
.icon:hover > :not(:hover){/*amostra de seleção*/
    opacity: .6;
    transform: scale(0.9);
    transition: .4s;
    cursor: pointer;
}
.zap{/*icone whatsapp*/
    background-image: url(../imagens/whatsapp.png);
    width: 80px;
    height: 80px;
    transform: scale(0.9);
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.493);
    margin-right: 5px;
    transition: .4s;
    cursor: pointer;
}
.ytb{/*icone yotube*/
    background-image: url(../imagens/youtube.png);
    width: 80px;
    height: 80px;
    transform: scale(0.9);
    margin-right: 5px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.493);
    transition: .4s;
    cursor: pointer;
}
.inst{/*icone instagram*/
    background-image: url(../imagens/instagram.png);
    width: 80px;
    height: 80px;
    transform: scale(0.9);
    margin-right: 5px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.493);
    transition: .4s;
    cursor: pointer;
}
.tl{/*icone telegram*/
    background-image: url(../imagens/telegram.png);
    width: 80px;
    height: 80px;
    transform: scale(0.9);
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.493);
    transition: .4s;
    cursor: pointer;
}
